@import "@/assets/scss/_variables.scss";

.layout {
  display: grid;
  grid-template-columns: 1fr auto;
  min-height: 100vh;
  background-color: $background-color;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 320px;
  background: white;
  border-left: 1px solid darken($background-color, 10%);
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  .sidebar {
    width: 100%;
    height: 300px;
    border-left: none;
    border-top: 1px solid darken($background-color, 10%);
  }
}
