@use "sass:color";
@use "@/assets/scss/_variables.scss" as v;

.button {
  font-family: v.$font-family;
  border: none;
  border-radius: v.$border-radius;
  cursor: pointer;
  transition: background-color v.$transition-duration,
    transform v.$transition-duration;

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }

  &--primary {
    background-color: v.$primary-color;
    color: white;

    &:hover {
      background-color: color.adjust(v.$primary-color, $lightness: -10%);
    }
  }

  &--secondary {
    background-color: v.$secondary-color;
    color: white;

    &:hover {
      background-color: color.adjust(v.$secondary-color, $lightness: -10%);
    }
  }

  &--error {
    background-color: v.$error-color;
    color: white;

    &:hover {
      background-color: color.adjust(v.$error-color, $lightness: -10%);
    }
  }

  &--small {
    font-size: v.$font-size-small;
    padding: 6px 12px;
  }

  &--medium {
    font-size: v.$font-size-medium;
    padding: 8px 16px;
  }

  &--large {
    font-size: v.$font-size-large;
    padding: 10px 20px;
  }
}
