@use "sass:color";
@use "@/assets/scss/_variables.scss" as v;

.mapWrapper {
  position: relative;
  width: 100%;
  height: 100vh;

  &.drawing {
    cursor: crosshair;

    :global(.leaflet-container) {
      cursor: crosshair !important;
    }
  }
}

.map {
  width: 100%;
  height: 100%;
  background-color: v.$background-color;
  z-index: 1;

  :global(.leaflet-container) {
    width: 100%;
    height: 100%;
  }

  :global(.leaflet-control-container) {
    .leaflet-control {
      border-radius: v.$border-radius;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.controls {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.drawingControls {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 1rem;
}
