@use "sass:color";
@use "@/assets/scss/_variables.scss" as v;

.tooltip {
  position: relative;
  display: inline-block;

  &__content {
    position: absolute;
    z-index: 1000;
    background-color: v.$text-color;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: v.$border-radius;
    font-family: v.$font-family;
    font-size: v.$font-size-small;
    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      border: 5px solid transparent;
    }
  }

  &__content--top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;

    &::before {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-top-color: v.$text-color;
    }
  }

  &--bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(8px);
  }

  &--left {
    right: 100%;
    top: 50%;
    transform: translateY(-50%) translateX(-8px);
  }

  &--right {
    left: 100%;
    top: 50%;
    transform: translateY(-50%) translateX(8px);
  }

  &--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
