@use "sass:color";
@use "@/assets/scss/_variables.scss" as v;

.color-picker {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__label {
    font-family: v.$font-family;
    font-size: v.$font-size-small;
    margin-bottom: 0.5rem;
    color: v.$text-color;
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
  }

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid color.adjust(v.$text-color, $lightness: 50%);
    cursor: pointer;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: 1px solid color.adjust(v.$text-color, $lightness: 50%);
      border-radius: v.$border-radius;
    }

    &::-moz-color-swatch {
      border: 1px solid color.adjust(v.$text-color, $lightness: 50%);
      border-radius: v.$border-radius;
    }
  }

  &__value {
    font-family: v.$font-family;
    font-size: v.$font-size-small;
    margin-left: 0.5rem;
    color: v.$text-color;
  }
}
